{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

{%- comment -%}
  更可靠的语言判定：优先使用页面 front matter 中的 page.lang。
  兼容旧逻辑：若未设置 lang，则回退到根据 URL 是否包含 /en/ 来判断。
{%- endcomment -%}
{% assign is_en = false %}
{% if page.lang %}
  {% if page.lang == 'en' %}{% assign is_en = true %}{% endif %}
{% else %}
  {% assign is_en = page.url contains '/en/' %}
{% endif %}

{%- comment -%}
  英文侧作者信息：如果未在 _config.yml 提供对应字段，则回退到中文。
{%- endcomment -%}
{% assign author_name = author.name %}
{% if is_en and author.name_en %}{% assign author_name = author.name_en %}{% endif %}

{% assign author_location = author.location %}
{% if is_en and author.location_en %}{% assign author_location = author.location_en %}{% endif %}

<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "http" %}
        <img src="{{ author.avatar }}" alt="{{ author_name }}" itemprop="image">
      {% else %}
        <img src="{{ author.avatar | relative_url }}" alt="{{ author_name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author_name %}
      <h3 class="author__name" itemprop="name">{{ author_name }}</h3>
    {% endif %}

    {% if is_en and author.bio_en %}
      <p class="author__bio" itemprop="description">{{ author.bio_en }}</p>
    {% elsif author.bio %}
      <p class="author__bio" itemprop="description">{{ author.bio }}</p>
    {% endif %}

    {% if is_en and site.description_en %}
      <p class="author__bio" itemprop="description">{{ site.description_en }}</p>
    {% elsif site.description %}
      <p class="author__bio" itemprop="description">{{ site.description }}</p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{% if is_en %}Links{% else %}链接{% endif %}</button>
    <ul class="author__urls social-icons">
      {% if author_location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author_location }}</span>
        </li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li>
              <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
                {% if link.icon %}<i class="{{ link.icon }}" aria-hidden="true"></i>{% endif %}
                <span class="label">{{ link.label }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>

</div>
